<mat-nav-list>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Cálculo de Estoque
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Conferência de Estoque
    </a>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Controle de Patrimônio
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Ordem de Compra
    </a>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Relatório de Acertos
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Transferencia de Materiais
    </a>
</mat-nav-list>