<mat-nav-list>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Agenda Matrimonial
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Agenda de Internamento
    </a>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Agenda de Serviços
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Agenda de Tarefas
    </a>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Agenda Veterinária
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Carteirinha Virtual
    </a>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Comissões em Serviços
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Documentos Customizados
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Gestão de Escalas
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Meus Agendamentos
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Pacotes de Serviços
    </a>
</mat-nav-list>