<mat-nav-list>
<!--    <a mat-list-item>
        <i class="material-icons">home</i>
        Centro de Custos
    </a>-->
    <a routerLink="/clientesepets" mat-list-item>
        <i class="material-icons">menu_book</i>
        Clientes e Pets
    </a>
<!--    <a mat-list-item>
        <i class="material-icons">home</i>
        Condições de Pagamento
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Formas de Pagamento
    </a>-->
    <a routerLink="/fornecedores" mat-list-item>
        <i class="material-icons">home</i>
        Fornecedores
    </a>
    <a routerLink="/produtos" mat-list-item>
        <i class="material-icons">menu_book</i>
        Produtos e Serviços
    </a>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Funcionários
    </a>
<!--    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Telefones Úteis
    </a>-->
</mat-nav-list>
