<mat-nav-list>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Campanhas Promocionais
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Comissões de Vendas
    </a>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Orçamentos
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Ponto de Venda
    </a>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Ponto de Venda - Relatórios Gerenciais
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Relacionamento Com o Cliente
    </a>
    <a mat-list-item>
        <i class="material-icons">home</i>
        Sangrias e Suprimentos
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Vendas - Consulta
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Vendas Por Itens
    </a>
    <a mat-list-item>
        <i class="material-icons">menu_book</i>
        Vendas Por Vendedor
    </a>
</mat-nav-list>